
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'GowunDodum-Regular';
    text-align:center;
    align-content: center;
    
}

.flex-container1{
    display: flex;
    flex-direction: row; 
    gap: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    

}

.flex-container2{
    display: flex;
    flex-direction: row; 
    gap: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}
.flex-container3{
    display: flex;
    flex-direction: row; 
    gap: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}