table{
    border-width: 3px;
    border-collapse:collapse;
}

.article{
    align-items: center;
    width: 10px;
    padding-bottom: 10px;
}

tr, td{
    
    padding: 10px; 
    text-align: center;
    
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'GowunDodum-Regular';
    text-align:center;
    align-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    
}